{:paths   ["src"]
 :deps    {metosin/malli {:mvn/version "0.13.0"}}
 :aliases {:perf {:extra-paths ["perf" "perf_resources"]
                  :extra-deps  {hiccup/hiccup           {:mvn/version "1.0.5"}
                                com.lambdaisland/hiccup {:mvn/version "0.0.33"}
                                com.taoensso/tufte      {:mvn/version "2.6.3"}
                                criterium/criterium     {:mvn/version "0.4.6"}}}
           :build {:ns-default build
                   :deps {io.github.seancorfield/build-clj {:git/tag "v0.8.3" :git/sha "7ac1f8d"}
                          io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd" :git/url "https://github.com/cognitect-labs/test-runner"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
